.lp-header{
    background-color: #4E73DF;
    text-align: center;
    padding: 50px 0;
}

.lp-header .lp-title{
    color: white;
    font-size: 4em;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .lp-header .lp-title{
        font-size: 2em;
    }
}