.dp-header{
    background-color: #4E73DF;
    text-align: center;
    padding: 50px 0;
}

.dp-header .dp-title{
    color: white;
    font-size: 4em;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .dp-header .dp-title {
        font-size: 2em;
    }
    .project-info{
        margin-top: 10px;
    }
}
